<app-progress-bar [step]='step'></app-progress-bar>
<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #formStepTwo="ngForm">
    <mat-form-field>
      <input
        type="tel"
        matInput
        placeholder="Your phone"
        [(ngModel)]='userPhone'
        name="phone"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        [(ngModel)]='userEmail'
        name="email"
        required>
    </mat-form-field>
  </form>
  <mat-list
    fxLayout="column"
    fxLayoutAlign="center center">
    <h3 mat-subheader>User Data</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>user</mat-icon>
      <h4 mat-line>{{userName}}</h4>
      <p mat-line> {{userAge}} years, {{userPhone}}, {{userEmail}}</p>
    </mat-list-item>
  </mat-list>
</section>